server {
    listen         80 default_server;
    listen         [::]:80 default_server;
    server_name    {{ app.domain }} {{ app.subdomains.localhost }}.{{ app.domain }};
    root           {{ app.directories.web}};
    include        /etc/nginx/default.d/*.conf;
    try_files $uri $uri/ /index.php?$args;
    location ~ /(protected|\.) {
        deny all;log_not_found off;access_log off;
    }
    location ~* \.(js|css|png|jpg|jpeg|gif|ico|txt)$ {
        log_not_found off;access_log off;
    }
}